.nav-bar {
    height: 100vh;
    border-right: 1px solid gray;
}

.nav-bar-div {
    border-right: 1px solid gray;
    padding: 1rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: 5rem auto;
    
    align-items: center;
}

.nav-bar-div .img-logo {
    width: 4rem;
}